<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--izbor da li zelimo da upisemo u inMemory ili xml bazu podataka-->
	<appSettings>
		<add key="tipBaze" value="inMemory"/>
	</appSettings>
		
	<system.serviceModel>
		<services>
			<service name="Server.Servis">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
				<endpoint address="Servis"
						  binding="netTcpBinding"
						  contract="Server.IServis" />
			</service>
		</services>

		<!-- Veza sa bazom podataka -->
		<client>
			<endpoint name="BazaPodataka"
				address="net.tcp://localhost:4001/BazaPodataka"
				binding="netTcpBinding"
				contract="BazaPodataka.IBazaPodataka" />
		</client>
	</system.serviceModel>
</configuration>