<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<!-- Veza sa servisom -->
		<client>
			<endpoint name="Servis"
			    address="net.tcp://localhost:4000/Servis"
			    binding="netTcpBinding"
			    contract="Server.IServis" />
		</client>
	</system.serviceModel>
</configuration>